<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>책 상세 정보</title>
  </head>
  <body>
    <div>
        <% if (login) { %>
            <form id="logoutForm" action="/user/logout" method="post" style="display: none;"></form>
            <span>안녕하세요, <%= login.name %>님: </span>
            <span> <a href="/user/books">[내 서재]  </a></span>
            <a href="#" onclick="document.getElementById('logoutForm').submit();">[로그아웃]</a>
        <% } else { %>
            <a href='user/login'>[로그인]</a>
        <% } %>
        <a href='/'>[목록으로]</a>
    </div>
  </br>
    <div>
      <p>제목: <input value="<%= book.title %>" disabled /></p>
      <p>저자: <input value="<%= book.writer %>" disabled /></p>
      <p>내용: <textarea disabled><%= book.description %></textarea></p>

      <% if (rental) { %>
    <form action="/book" method="post">
        <input type="text" name="bid" value="<%= book.bid %>" style="display: none"/>
        <input type="submit" name="대출" value="대출" />
    </form>
    <% } else { %>
        <p style="color: red">대출 불가</p>
    <% } %>
    </div>
  </body>
</html>
