<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe Search</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-screen bg-white">
    <header class="py-4 shadow-md bg-white">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <!-- Title -->
        <div class="relative w-1/3 flex items-center">
          <img src="/oasis_logo.png" alt="Cafe Image" class="h-12 mr-4" />
          <h1 class="text-xl font-bold">Cafe Oasis</h1>
        </div>

        <!-- Search Box -->
        <div class="relative flex-1 flex justify-center">
          <input
            type="search"
            placeholder="Search cafes..."
            class="w-full p-2 pl-4 border rounded-l"
          />
          <button type="submit" class="bg-white p-2 rounded-r">
            <img src="/magnifier.png" alt="Search" class="h-8 w-10" />
          </button>
        </div>

        <!-- User Info and Controls -->
        <div class="flex-1 flex justify-end">
          <% if (login) { %>
          <span class="mr-4">Welcome, <%= login.name %>!</span>
          <a href="users/mypage" class="text-blue-500 hover:text-blue-700 mr-4"
            >My Page</a
          >
          <form action="users/logout" method="post">
            <button type="submit" class="text-blue-500 hover:text-blue-700">
              Logout
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </header>

    <main class="flex-grow">
      <!-- Cafe List (Dynamic Content) -->
      <% cafes.forEach(function(cafe) { %>
      <div class="bg-white p-4 rounded-lg shadow mb-6">
        <div class="flex flex-col md:flex-row">
          <img
            src="<%= cafe.image %>"
            alt="Cafe Image"
            class="md:w-48 rounded-lg mb-4 md:mb-0 md:mr-4"
          />
          <div>
            <h2 class="text-lg font-bold"><%= cafe.name %></h2>
            <p><strong>Phone:</strong> <%= cafe.phone %></p>
            <p><strong>Address:</strong> <%= cafe.address %></p>
            <p><strong>Info:</strong> <%= cafe.info %></p>
            <p><strong>Business Hours:</strong> <%= cafe.business_hours %></p>
          </div>
        </div>
      </div>
      <% }); %>
    </main>

    <footer class="py-4 bg-white mt-auto">
      <div class="container mx-auto px-4 text-center">
        © 2024 Cafe Oasis. All rights reserved.
      </div>
    </footer>
  </body>
</html>
