<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe Search</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <header class="py-4 shadow-md bg-white">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <!-- 로고창 -->
        <div class="flex items-center w-1/4 min-w-max">
          <a
            href="/cafes"
            class="flex items-center text-gray-800 no-underline hover:no-underline"
          >
            <img src="/oasis_logo.png" alt="Cafe Logo" class="h-12 mr-4" />
            <span class="text-xl font-bold">Cafe Oasis</span>
          </a>
        </div>

        <!-- 검색창 -->
        <div class="flex-1 flex justify-center px-2">
          <form action="/cafes" method="get" class="flex w-full max-w-lg">
            <input
              type="search"
              name="target"
              placeholder="Search cafes..."
              class="flex-1 p-2 pl-4 border rounded-l-lg border-r-0"
            />
            <button type="submit" class="bg-white p-2 border rounded-r-lg">
              <img src="/magnifier.png" alt="Search" class="h-8 w-10" />
            </button>
          </form>
        </div>

        <!-- 유저창 -->
        <div class="flex items-center w-1/4 min-w-max justify-end">
          <% if (login) { %>
          <span class="mr-4">환영합니다, <%= login.name %>!</span>
          <a href="users/mypage" class="text-blue-500 hover:text-blue-700 mr-4"
            >마이페이지</a
          >
          <form action="users/logout" method="post">
            <button type="submit" class="text-blue-500 hover:text-blue-700">
              로그아웃
            </button>
          </form>
          <% } else {%>
          <a href="users/login" class="text-blue-500 hover:text-blue-700 mr-4"
            >로그인</a
          >
          <% } %>
        </div>
      </div>
    </header>

    <main class="flex-grow container mx-auto p-4 max-w-4xl">
      <!-- 카페 리스트 (동적 컨텐츠) -->
      <% cafes.forEach(function(cafe) { %>
      <div class="bg-white p-4 rounded-lg shadow mb-6">
        <div class="flex flex-col md:flex-row">
          <img src="<%" ="cafe.image_link" % /> alt="Cafe Image" class="md:w-48
          rounded-lg mb-4 md:mb-0 md:mr-4" />
          <div>
            <h2 class="text-lg font-bold"><%= cafe.cafe_name %></h2>
            <p><strong>전화번호:</strong> <%= cafe.phone_number %></p>
            <p><strong>주소:</strong> <%= cafe.address %></p>
            <p><strong>정보:</strong> <%= cafe.description %></p>
            <p><strong>영업 시간:</strong> <%= cafe.business_hours %></p>
          </div>
        </div>
      </div>
      <% }); %>
    </main>

    <footer class="py-4 bg-white mt-auto">
      <div class="container mx-auto px-4 text-center">
        © 2024 Cafe Oasis. All rights reserved.
      </div>
    </footer>
  </body>
</html>
