<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Page - Cafe Oasis</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <header class="py-4 shadow-md bg-white">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="flex items-center w-1/4 min-w-max">
          <a
            href="/cafes"
            class="flex items-center text-gray-800 no-underline hover:no-underline"
          >
            <img src="/oasis_logo.png" alt="Cafe Logo" class="h-12 mr-4" />
            <span class="text-xl font-bold">Cafe Oasis</span>
          </a>
        </div>

        <div class="flex items-center w-1/4 min-w-max justify-end">
          <form action="users/logout" method="post">
            <button type="submit" class="text-blue-500 hover:text-blue-700">
              로그아웃
            </button>
          </form>
        </div>
      </div>
    </header>

    <style>
      /* 추가적인 커스텀 스타일 */
      .section-title h2 {
        line-height: 1.2; /* 더 타이트한 라인 높이 */
        white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 */
        overflow: hidden; /* 내용이 넘칠 경우 숨김 */
        text-overflow: ellipsis; /* 넘치는 텍스트를 생략 부호로 처리 */
      }
    </style>

    <main class="flex-grow mx-auto p-4 max-w-7xl flex space-x-4">
      <section class="flex-1 p-4 bg-white rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 border-b pb-2">
          Personal Information
        </h2>
        <div class="text-gray-700 space-y-3" style="white-space: nowrap">
          <p class="text-lg">
            <strong class="font-semibold">Email:</strong> <%= login.email %>
          </p>
          <p class="text-lg">
            <strong class="font-semibold">Name:</strong> <%= login.name %>
          </p>
          <p class="text-lg">
            <strong class="font-semibold">Phone Number:</strong> <%=
            login.phone_no %>
          </p>
          <% if (login.user_type == "customer") {%>
            <p class="text-lg">
              <strong class="font-semibold">Nickname:</strong> <%= login.nickname %>
            </p>
            <p class="text-lg">
              <strong class="font-semibold">Age:</strong> <%= login.age.slice(0,2) + "대" %>
            </p>
            <p class="text-lg">
              <strong class="font-semibold">Sex:</strong> <%=login.sex == 'm' ? 'Male' : 'Female' %>
            </p>
          <% } %>
          <p class="text-lg">
            <strong class="font-semibold">Registration Date:</strong>
            <% if (login.registration_date) { %> <%= new
            Date(login.registration_date).toISOString().slice(0,
            19).replace('T', ' ') %> <% } else { %> Not available <% } %>
          </p>
          <p class="text-lg">
            <strong class="font-semibold">Account Status:</strong> <%=
            login.is_active ? "Active" : "Inactive" %>
          </p>
        </div>
      </section>
      <% if (login.user_type == "employee") {%>
        <section class="flex-1 p-4 bg-white rounded-lg shadow-lg">
          <h2 class="text-3xl font-bold text-gray-800 mb-6 border-b pb-2">
            Cafe Information
          </h2>
          <div class="text-gray-700 space-y-3" style="white-space: nowrap"></div>
        </section>
      <% } %>
    </main>

    <footer class="py-4 bg-white mt-auto">
      <div class="container mx-auto px-4 text-center">
        © 2024 Cafe Oasis. All rights reserved.
      </div>
    </footer>
  </body>
</html>
